body {
    text-align: center;
    background-color: cadetblue;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 30px;
}

h6 {
    font-size: 20px;
}
